@import '../theme';

.about{
    margin-top: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    &-title{
        margin-left: 60px;
        margin-bottom: 30px;
    }

    &-content{
        margin: 0 50px;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1em;
        justify-content: center;

        &-description {
            
            position: relative;
            padding: 0 20px; 
            padding-right: 40px;
            background-image: linear-gradient(to bottom, $jet, $yellow, $jet);
            background-size: 4px; 
            background-position: right;
            background-repeat: no-repeat;
            
            &-text {
                background-color: $darkJet;
                border: 1px solid $yellow;
                box-shadow: 0 0 10px #ffed94;
                border-radius: 15px;
                padding: 25px;
                font-size: 17px;
                text-align: justify;

                &-icons {
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    gap: 30px;
                    
                    &-icon {
                        font-size: 40px;
                    }
                }
            }

            &-skills{
                background-color: $darkJet;
                border: 1px solid $yellow;
                box-shadow: 0 0 10px #ffed94;
                border-radius: 15px;
                padding: 25px;
                padding-left: 30px;
                list-style: none;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                grid-template-rows: 1fr;
                gap: 15px;
                
                &-skill{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    &-icon{
                        font-size: 30px;
                    }
                }


            }
        }

        &-technologies {
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 0 20px; 
            padding-right: 40px;
            background-image: linear-gradient(to bottom, $jet, $yellow, $jet);
            background-size: 4px; 
            background-position: right;
            background-repeat: no-repeat;

            &-studies {
                
                background-color: $darkJet;
                border: 1px solid $yellow;
                box-shadow: 0 0 10px #ffed94;
                border-radius: 15px;
                padding: 25px;
                padding-left: 30px;
                list-style: none;
                
                
                &-study{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                &-icon{
                    font-size: 10px;
                }
            }
            
            &-languages {
                background-color: $darkJet;
                border: 1px solid $yellow;
                box-shadow: 0 0 10px #ffed94;
                border-radius: 15px;
                padding: 25px;

                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
                gap: 15px;


                &-icon {
                    font-size: 45px;
                }
            }
        }

        &-work{
            margin-left: 10px;
            display:flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &-footer{
        width: 100%;
        height: 15vh;
        color: black;
        background-color: $yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        &-contacts {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            gap: 20px;

            &-contact {
                margin: 0;
                display: flex;
                padding: 0;
                align-items: center;
                justify-content: center;

                a{
                    font-size: 0;
                }
                &-icon {
                    color: black;
                    font-size: 35px;
                }
            }
        }
    }
}